<div class="jumbotron">
  <h2 class="display-4 text-center">Welcome to Github Repo Search App</h2>
  <hr class="my-4">
  <div *ngIf='user' class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ user.login }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img class='img-thumbnail github-avatar' src="{{ user.avatar_url }}" alt="">
          </div>
          <div class="col-md-4">
            <div class="stats">
              <span class="badge badge-pill badge-default">{{ user.public_repos }} Public Repos</span>
              <span class="badge badge-pill badge-primary">{{ user.public_gists }} Public Gists</span>
              <span class="badge badge-pill badge-success">{{ user.followers }} Followers</span>
              <span class="badge badge-pill badge-info">{{ user.following }} Following</span>
            </div>
            <br>
            <div class="list-group">
              <li class="list-group-item"><strong>Username: </strong>{{ user.login }}</li>
              <li class="list-group-item"><strong>Location: </strong>{{ user.location }}</li>
              <li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
              <li class="list-group-item"><strong>Blog: </strong>{{ user.blog }}</li>
              <li class="list-group-item"><strong>Member Since: </strong>{{ user.created_at }}</li>
            </div>
          </div>
          <div class="col-md-6">
            <div *ngFor='let repo of repos'>
              <div class="row">
                <div class="col-md-9">
                  <h3><a href="{{ repo.html_url }}">{{ repo.name }}</a></h3>
                  <p>{{ repo.description }}</p>
                </div>
                <div class="col-md-3">
                  <span class="badge badge-pill badge-default">{{ repo.watchers }} Watchers</span>
                  <span class="badge badge-pill badge-primary">{{ repo.forks }} Forks</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
