<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default">
  <a class="navbar-brand" href="#">Github Repo Search</a>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Username" aria-label="Search" [(ngModel)]='username'>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  (click)='search()'>Search</button>
  </form>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">

  </div>
</nav>

<main role="main" class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-github></app-github>
    </div>
  </div>

</main>
